/*
    @ Filename : camp.css
    @ Author : 문태호
    @ Description : 기획전 목록 레이아웃
*/

@import url("reset.css");
@import url("style.css");
@import url("pop.css");

img {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
