/*
    @ Filename : camp.css
    @ Author : 문태호
    @ Description : 메인페이지 footer 레이아웃
*/

/* 푸터 */
footer {
  background-color: #f7faf8;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
}

footer .container {
  width: 100%;
  margin: auto;
  padding: 15px;
}

.footer_logo {
  padding-top: 25px;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer_clause {
  padding: 15px 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.footer_clause a {
  margin-right: 20px;
}

.cs {
  padding: 15px 0;
  font-size: 11px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.cs span {
  display: block;
  margin-top: 6px;
}

.cs .cs_link {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.cs .cs_link i {
  margin-left: 3px;
}

.business_info {
  height: 30px;
  overflow: hidden;
}

.business_info div {
  margin: 12px 0;
}

.business_info p {
  margin-bottom: 7px;
}

.business_info i {
  cursor: pointer;
  margin-left: 3px;
}

.footer_text {
  padding-top: 10px;
  padding-bottom: 100px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  line-height: 15px;
}
