@import url("reset.css");
@import url("style.css");

/* 전체 영역 설정 */
.container {
  width: 95%;
  margin: auto;
}

/* 헤더바 */
header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo_area h3 {
  font-size: 23px;
  font-weight: bold;
}

#alarm_area i {
  font-size: 23px;
  margin-left: 10px;
}

/* 캠핀에서 막힘없이 캠핑가자 */
.main_title {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_title span {
  font-size: 20px;
}

strong {
  font-weight: bold;
}

/* 캠핑장 필터 버튼 */
#campfilter {
  display: flex;
  margin: 20px 0;
}

.filter_icon {
  width: 25%;
}

.filter_icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter_icon img {
  width: 80%;
}

.filter_icon span {
  margin-top: 10px;
  font-size: 12px;
}

/* 이벤트 슬라이드 */
.glide .glide__bullets {
  left: 40px;
  bottom: 20px;
}

.glide .glide__bullet {
  width: 6px;
  height: 6px;
}

.event_slide img {
  width: 100%;
}

/* 베스트 포토 */
#photo {
  margin-top: 40px;
}

.area_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area_title_left {
  font-size: 18px;
  font-weight: bold;
}

.area_title_btn {
  display: block;
  color: rgb(67, 192, 131);
  border: 1.5px solid rgb(67, 192, 131);
  padding: 4px 6px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: bold;
}

.commu_link {
  display: block;
  font-size: 13px;
  color: rgb(90, 94, 91);
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 23px;
}

.commu_link span {
  display: block;
  margin-bottom: 4px;
}

/* 베스트포토 - 슬라이드 */
#photo_slides {
  min-width: 100%;
  display: flex;
}

#photo_slides #photo_slides a {
  position: relative;
}

#photo_slides .swiper-slide {
  width: fit-content;
}

#photo_slides img {
  width: 195px;
  height: 250px;
  border-radius: 8px;
  margin-right: 10px;
}

#photo_slides span {
  position: absolute;
  left: 13px;
  bottom: 18px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

/* 캠핑 로그 */
#camp_log {
  margin-top: 50px;
}

#log_slides {
  min-width: 200%;
  display: flex;
  margin: 10px 0;
}

#log_slides li {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 250px;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.log_img_box {
  height: 125px;
  width: 140px;
  background-position: center center;
  background-size: cover;
}

.log_text_box {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.log_writer {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 4px;
}

.log_camp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 라인 수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.log_text_box p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인 수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* 캠핑 기획전 */
#exhibition {
  margin-top: 60px;
}

#exhibition .area_title {
  margin-bottom: 30px;
}

.exhi_list {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.exhi_list img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-right: 20px;
}

.exhi_text span {
  display: block;
  font-size: 13px;
}

.exhi_text .exhi_title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* 푸터 */
footer {
  background-color: #f7faf8;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
}

.footer_logo {
  padding-top: 25px;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer_clause {
  padding: 15px 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.footer_clause a {
  margin-right: 20px;
}

.cs {
  padding: 15px 0;
  font-size: 11px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.cs span {
  display: block;
  margin-top: 6px;
}

.cs .cs_link {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.cs .cs_link i {
  margin-left: 3px;
}

.business_info div {
  margin: 12px 0;
}

.business_info p {
  margin-bottom: 7px;
}

.footer_text {
  padding-top: 10px;
  padding-bottom: 100px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  line-height: 15px;
}

/* 네비게이션 바 */
#nav {
  max-width: 530px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1000;
}

.nav_btn {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.nav_btn i {
  font-size: 21px;
  margin-bottom: 10px;
}
