@import url("reset.css");
@import url("style.css");
@import url("pop.css");

.pop_main {
  padding: 0;
}

.myTabBox {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.myTab {
  width: 30%;
  height: 100%;
  text-align: center;
  font-size: 13px;
  line-height: 50px;
}

.myTab.active {
  color: green;
  margin-bottom: -2px;
  border-bottom: 3px solid green;
}

.myArticleBox {
  padding: 20px;
}
.myArticleDate {
  color: rgb(159, 165, 162);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
  font-size: 12px;
  margin-bottom: 10px;
}

.myArticleTitleBox {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
}

.myArticleSub {
  margin-top: 10px;
  font-size: 13px;
  line-height: 140%;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: rgb(159, 165, 162);
}

.myArticleInfo {
  display: flex;
}
