@import url("reset.css");
@import url("style.css");
@import url("pop.css");

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

input {
  padding: 10px 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

span {
  margin-top: -16px;
  font-size: 12px;
  color: rgb(37, 40, 38);
  margin-bottom: 25px;
}

.container {
  min-height: 100vh;
}

.foot_btn {
  width: 100%;
  height: 56px;
  background-color: rgb(234, 238, 236);
  color: rgb(133, 138, 136);
  font-weight: 700;
  font-size: 16px;
  border: none;
  position: absolute;
  bottom: 0;
  transition: background-color 0.1s ease-in;
}

/* 버튼 색 변경 */
.foot_btn.checked {
  background-color: rgb(67, 192, 131);
  color: white;
}
