/* 기본 가로사이즈 설정 */
* {
  box-sizing: border-box;
}

html {
  background-color: grey;
}

body {
  background-color: #fff;
  max-width: 530px;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}

button {
  cursor: pointer;
}

/* 글라이드 전역설정 */
.glide .glide__bullet {
  width: 6px;
  height: 6px;
}
