@import url("style.css");
@import url("pop.css");

* {
  font-weight: 400;
  font-size: 14px;
  font-family: "Malgun Gothic";
  line-height: 1.15;
  margin: 0;
}

.pop_main {
  padding: 40px 30px;
  color: #5a5e5b;
}

.pop_policy {
  font-size: 25px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 24px;
}

.term_title {
  color: black;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.c0 {
  display: inline-block;
  padding-bottom: 15px;
}

li {
  margin-bottom: 5px;
}

p {
  margin-bottom: 5px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  text-align: start;
  border-spacing: 2px;
  border-color: grey;
  font-variant: normal;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  height: 0;
}

.c54 {
  padding: 5px;
  border: 1px solid #000;
  background-color: #efefef;
}
