@import "./reset.css";


body{
    background-color: rgb(231, 240, 234);
    
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.profile-container {
    max-width: 530px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241, 245, 243);
}

/* 헤더 */
.profile-header {
    top: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 52px;
    max-width: 530px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(241, 245, 243);
    color:#333;
}
.profile-header span {
    width: 50px;
    margin-left:20px;
    font-size:13pt;
    font-weight: 700;
    cursor: pointer;
}

.profile-header p {
    margin: 0px auto;
    padding-right: 70px;
    font-size: 12.5pt;
}

/* 유저 프로필 */
.user-profile {
    background: rgb(255, 255, 255);
    padding: 31px 0px 24px;
    border-bottom: 0.5px solid rgb(201, 207, 204);
}

.user-profile img {
    display: block;
    margin: 0px auto;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 1px solid rgb(201, 207, 204);
    background-clip: border-box;
    object-fit: cover;
}

.user-name {
    margin-top: 16px;
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
}

.user-intro, .user-intro span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:5px;
    font-size: 11pt;
    font-weight: 500;
    color: rgb(26, 29, 27);
    line-height: 15px;
}

.user-intro span{
    padding-bottom: 4px;
    margin-left: 4px;
}


.my-user-intro  span {
    font-size: 10pt;
    font-weight: 700;
    margin-left: 5px;
}

/* 메뉴 */
.tab-container {
    max-width: 530px;
    height:45px;
    width: 100%;
    top:0px;
    background-color:rgb(255, 255, 255);
    display: flex;
}

.tab-item {
    display: inline-block;
    height:45px;
    width:50%;
}

.tab-item.active { 
    border-bottom: 2px solid #43C083; 
}

.tab-item.active .tab-title {
    color: #43C083; 
  }

.tab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 10.5pt;
    font-weight: 500;
    color:#666;
    cursor: pointer;
}

/* 내용영역 */
.cnt-container a {
    display: block;
    margin-bottom: 1px;
}

.cnt-box {
    padding: 25px 20px 20px;
    background: rgb(255, 255, 255);
}

.cnt-date {
    color: rgb(159, 165, 162);
    font-size: 9pt;
    font-weight: 500;
    line-height: 100%;
}

.cnt-body {
    margin: 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cnt {
    align-self: flex-start;
    width: 73%;
}

.cnt-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 13pt;
    line-height: 100%;
}

.cnt-content {
    font-size: 10pt;
    color: rgb(159, 165, 162);
    line-height: 150%;
    font-weight: 400;
    overflow: hidden;
    /* 말줄임표시 */
    text-overflow: ellipsis;
    /* 두줄 제한 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cnt-img img {
    margin: 4px 0px;
    border-radius: 8px;
    display: block;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

/* 좋아요 댓글 */
.cnt-footer {
    display: flex;
    font-size: 9pt;
    color: rgb(159, 165, 162);
    font-weight: 400;
}

.cnt-like {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.cnt-comment {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}