/*
    @ Filename : camp.css
    @ Author : 문태호
    @ Description : 캠핑장 상세페이지 레이아웃
*/

@import url("reset.css");
@import url("style.css");
@import url("pop.css");
@import url("footer.css");

.camp_main {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
}

.camp_main > .pop_title {
  cursor: pointer;
}

.camp_main .pop_title {
  font-size: 20px;
  font-weight: bold;
}

.camp_main .pop_chev {
  font-size: 20px;
}

.camp_main .pop_share {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0px;
  cursor: pointer;
  padding: 10px;
}

.container {
  background-color: #eaeeec;
}

/* 슬라이드 영역 */
.camp_slide .glide__track {
  width: 100%;
  height: 100%;
  max-height: 280px;
}

.camp_slide img {
  width: 100%;
}

.camp_slide .glide__slides {
  height: 100%;
}

.camp_slide .glide__slide {
  position: relative;
  height: 100%;
}

.camp_slide .glide__slide span {
  position: absolute;
  left: 10px;
  bottom: 12px;
  color: white;
  font-size: 11px;
  z-index: 90;
}

/* 컨테이너 영역 설정 */
.camp_container {
  background-color: #fff;
  padding: 24px 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.camp_container.no_margin {
  margin-bottom: 0;
}

/* 상세페이지 타이틀 영역 */
.camp_name {
  font-size: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.camp_class {
  margin-bottom: 10px;
  color: rgb(90, 94, 91);
}

.camp_title {
  font-size: 22px;
  margin-bottom: 8px;
}

.camp_log_count {
  color: rgb(67, 192, 131);
}

.camp_price {
  margin-top: 16px;
}

.camp_price > span {
  font-size: 22px;
  font-weight: 700;
}

/* 타이틀영역 > 스크롤 */
.scroll_box {
  height: 40px;
  /* width: 100%; */
  background-color: #fff;
  margin-bottom: 10px;
  font-size: 13px;
}

.scroll_link.swiper-slide {
  height: 100%;
  padding: 0 12px;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

/* 기본 정보 */
.box_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.camp_box > table {
  width: 100%;
  font-size: 14px;
}

.camp_box tr {
  height: 28px;
}

.camp_box td:first-child {
  color: rgb(67, 192, 131);
}

.camp_box td {
  position: relative;
}

.camp_box img {
  width: 100%;
  margin-top: 7px;
}

.camp_basic_btn {
  min-width: 53px;
  width: 56px;
  height: 25px;
  margin: 0 0 0 auto;
  font-size: 11px;
  color: #fff;
  background-color: rgb(67, 192, 131);
  border: none;
  font-weight: 700;
  border-radius: 4px;
  position: absolute;
  right: 0;
  bottom: 3px;
}

/* 캠핑장 소개 */
#camp_intro_article {
  line-height: 22px;
  white-space: pre-line;
  color: rgb(90, 94, 91);
  font-size: 13px;
}

#camp_intro_article.close {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.intro_tag_box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.intro_tag_box.hidden {
  display: none;
}

.intro_tag {
  padding: 6px 10px;
  margin: 4px 4px 0px 0px;
  background-color: rgba(62, 204, 121, 0.18);
  border-radius: 20px;
  color: rgb(34, 119, 88);
  font-size: 13px;
}

.camp_btn {
  margin-top: 20px;
  width: 100%;
  height: 46px;
  border: 1px solid rgb(212, 217, 214);
  border-radius: 8px;
  background-color: white;
  color: rgb(37, 40, 38);
  font-size: 14px;
}

/* 시설 및 레저 */
.basic_facility {
  width: 100%;
  display: flex;
  border-top: 1px solid rgb(212, 217, 214);
  border-bottom: 1px solid rgb(212, 217, 214);
  padding-top: 12px;
}

.additional_facility {
  width: 100%;
  display: flex;
  padding-top: 12px;
}

.facility_title {
  width: 20%;
  color: rgb(34, 119, 88);
  font-weight: bold;
}

.facility_area {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.facility {
  width: 25%;
  height: 40px;
}

.facility > span {
  text-align: center;
  display: block;
  width: 90px;
  padding: 8px 0;
  background-color: rgba(62, 204, 121, 0.18);
  border-radius: 20px;
  color: rgb(34, 119, 88);
  font-size: 13px;
}

/* 매너타임 */
.time_area {
  width: 100%;
  display: flex;
  padding: 14px 0px;
  border-radius: 8px;
  background-color: rgba(62, 204, 121, 0.18);
  margin-bottom: 16px;
}

.time_area_box {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time_area_box:first-child {
  border-right: 1px solid rgba(34, 119, 88, 0.4);
}

.time {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 6px;
  color: rgb(34, 119, 88);
}

.time_text {
  color: rgb(34, 119, 88);
  opacity: 0.6;
  font-weight: 500;
}

.manner_article {
  color: rgb(90, 94, 91);
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

/* 캠핑장 운영정책 */
.policy_anno {
  margin-bottom: 12px;
  font-weight: 700;
  color: rgb(67, 192, 131);
  font-size: 13px;
}

.policy_text {
  color: rgb(90, 94, 91);
  line-height: 22px;
}

/* 캠핑장 배치도 */
#camp_map > img {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.caption {
  margin-top: 8px;
  color: rgb(90, 94, 91);
  font-size: 12px;
}

/* 캠핑 로그 */
.camp_container.log_container {
  padding: 0;
}

.camp_container.log_container .box_title {
  margin: 0;
}

.log_header {
  padding: 20px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log_header > .box_title {
  display: flex;
  align-items: center;
}

.log_header > .box_title > span {
  color: rgb(67, 192, 131);
  font-size: 12px;
  margin-left: 5px;
}

.check_box {
  display: flex;
  align-items: center;
}

#photo_log_text {
  font-size: 12px;
  line-height: 13px;
  margin-left: 3px;
}

/* 로그 리스트 */
.log_box {
  border-top: 1px solid rgb(212, 217, 214);
  padding: 12px 20px;
}

.log_title {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.fa-user-circle {
  font-size: 32px;
  padding-right: 5px;
}

.log_username {
  line-height: 16px;
  font-size: 13px;
  height: 16px;
}

.log_data {
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  color: rgb(90, 94, 91);
}

.log_chev {
  margin-left: auto;
  font-size: 20px;
  line-height: 32px;
}

.log_chev i {
  opacity: 0.4;
}

.log_sample_box {
  display: flex;
  width: 100%;
}

.log_article {
  width: 100%;
  margin-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 22px;
  font-size: 13px;
  color: rgb(37, 40, 38);
}

.log_photo img {
  border-radius: 5px;
  width: 76px;
  height: 76px;
}

/* 로그 더보기 버튼 */
.log_btn_box {
  padding: 20px;
}

.log_btn_box .camp_btn {
  margin: 0;
}

/* 취소환불규정 & 사업자정보 */
.last_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
  padding: 0 20px;
  border-bottom: 1px solid rgb(234, 238, 236);
  cursor: pointer;
}

.last_section:last-child {
  border-bottom: none;
}

.section_title_title {
  font-size: 18px;
  font-weight: 700;
}

.section_title_sub {
  font-weight: 500;
  color: rgb(90, 94, 91);
  padding-top: 8px;
  font-size: 13px;
}

.section_chev {
  font-size: 15px;
}
