@import "reset.css";
body{
    background-color: rgb(231, 240, 234);
    
}

.contaniner {
    max-width: 530px;
}

/* 커뮤니티 상단 메뉴탭 */
.tab-container {
    max-width: 530px;
    height:45px;
    width: 100%;
    top:0px;
    background-color:rgb(255, 255, 255);
    border-bottom: 1px solid rgb(212, 217, 214);
    position: fixed;
    display: flex;
    z-index: 1000;
}

.tab-item {
    display: inline-block;
    height:40ㄴpx;
    width:25%;
}

.tab-item.active { 
    border-bottom: 2px solid #43C083; 
}

.tab-item.active .tab-title {
    color: #43C083; 
  }

.tab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 10.5pt;
    font-weight: 500;
    color:#666;
    cursor: pointer;
}

/* .cnt-container  { display: none; }
.cnt-container .target { display: block; } */


/* 컨텐츠 영역 */
/* 컨텐츠:프로필,텍스트 */
.cnt-container {
    margin-top:50px;
    padding-bottom:50px;
}

.cnt-box {
    margin-bottom: 8px;
    background: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.cnt-box-txt {
    padding: 13px;
    line-height: 24px;
}


.cnt-category{
    display: inline-block;
    margin-top: 8px;
    padding: 0px 5px;
    margin-bottom: 15px;
    background: rgb(234, 238, 236);
    border-radius: 3px;
    color: #555;
    font-weight: 500;
    font-size: 9pt;
}

.cnt-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cnt-user{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cnt-user-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgb(201, 207, 204);
    object-fit: cover;
}

.cnt-user-name{
    display: flex;
    font-size: 11pt;
    font-weight: 500;
    color:#333;
}

.cnt-time{
    color:#999;
    font-weight: 400;
    font-size: 9pt;
}

.cnt-desc {
    padding-top: 10px;
    overflow: hidden;
    white-space: normal;
    text-align: left;
    font-size:10pt;
    color: #333;
}

/* 컨텐츠:이미지 */
.cnt-img {
    width: 100%;

}

.default{    
    position: relative;
    width: 100%;  
    height: 500px;
    margin-bottom: 5px;
}

.medium {
    position: relative;
    width: 100%;  
    height: 250px;
    margin-bottom: 3px;
}
.medium-half-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-bottom: 3px;
    overflow: hidden;
}
.medium-half {
    width: 49.7%;
    height:150px;
}


.small-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-bottom: 3px;
    overflow: hidden;
}
.small {
    width: 33%;
    height:150px;
}

.default img, .medium img,.medium-half img,.small img{
    width:100%;
    height: 100%;
    object-fit :cover;
}

/* 더보기 */
.small-container div:nth-child(3){
    position: relative;
}
.small span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: #fff;
  font-size:15pt;
  letter-spacing:3pt;
}

/* 위치정보 */
.cnt-local {
    display: flex;
    padding-top:10px;
    font-size: 9pt;
    color: #666;
    font-weight: 400;
    align-items: center;
}
.local-txt {
    margin-top:2px;
    margin-left: 5px;
}

/* 컨텐츠 댓글,좋아요 */
.cnt-footer {
    display: flex;
    padding: 14px 15px;
    font-size: 10pt;
    color: #666;
    font-weight: 400;
}

.cnt-like {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.cnt-comment {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

/* 글쓰기버튼 */
.write-button{
    position: fixed;
    bottom: 130px;
    width: 100%;
    max-width: 530px;
}

.write-button-click{
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #43C083; 
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

.write-click{
    color: #fff;
    font-size:18pt;
}

/* 하단메뉴탭 */
#nav-container{
    position: fixed;
    bottom: 0px;
    z-index: 100;
    max-width: 530px;
    width: 100%;
    background: rgb(255, 255, 255);
}

.nav-tab{
    display: flex;
    margin: 0px auto;
    width: 100%;
    padding: 9px 0px 9px;
    border-top: 1px solid rgb(212, 217, 214);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1 1 0%;
    height: 100%;
    letter-spacing: -0.05pt;
    line-height: 15px;
}

.nav-icon{
    font-size:15pt;
    color:#555;
}

.nav-txt{
    margin-top:5px;
    font-size:9pt;
    color:#555;
}