@import "./reset.css";


body{
    background-color: rgb(231, 240, 234);
    
}

.my-container {
    max-width: 530px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: rgb(241, 245, 243);
}

/* 회원가입,로그인버튼*/
.signup-login {
    background: rgb(255, 255, 255);
    padding: 28px 20px;
    width: 100%;
}

.signup-btn, .login-btn{
    width: 45%;
    height: 48px;
    padding: 6px 8px;
    margin-right: 10px;
    border: 1px solid rgb(212, 217, 214);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(37, 40, 38);
    font-family: SpoqaHanSans;
    font-weight: 400;
    font-size: 11pt;
    cursor: pointer;
}

/* 공지사항,설정,고객센터 박스 */
.my-notice, .my-set, .my-center {
    display:block;
    font-size:11pt;
    color: rgb(37, 40, 38);
    cursor: pointer;
}

.my-div {
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    margin-top: 8px;
    padding: 20px 20px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-top: none;
}

/* 하단메뉴탭 */
#nav-container{
    position: fixed;
    bottom: 0px;
    z-index: 100;
    max-width: 530px;
    width: 100%;
    background: rgb(255, 255, 255);
}

.nav-tab{
    display: flex;
    margin: 0px auto;
    width: 100%;
    padding: 9px 0px 9px;
    border-top: 1px solid rgb(212, 217, 214);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1 1 0%;
    height: 100%;
    letter-spacing: -0.05pt;
    line-height: 15px;
}

.nav-icon{
    font-size:15pt;
    color:#555;
}

.nav-txt{
    margin-top:5px;
    font-size:9pt;
    color:#555;
}