@import "./reset.css";
body{
    background-color: rgb(231, 240, 234);
    
}

.contaniner {
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
}


/* 글쓰기 상단 */
.top-container {
    top:0px;
    padding-top: 3px;
    height:55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(241,245,243);
}

.back-btn {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 52px;
    cursor: pointer;
    text-decoration: none;
}

.back-btn span{
    font-size:12pt;
    cursor: pointer;
}

.title {
    margin: 0px auto;
    padding-right: 52px;
    font-size: 12.5pt;
}

/* 컨텐츠 */
.cnt-container {
    padding: 0px 20px;
    background: rgb(255, 255, 255);
}

.cnt-box {
    border-bottom: 1px solid rgb(234, 238, 236);
}

/* 글쓰기주제 선택버튼 */
.cnt-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    width: 100%;
    height: 56px;
    border: none;
    background-color: #fff;
}

.cnt-button p {
    font-size:11pt;
    font-weight:400;
}

.cnt-button span {
    font-size:17pt;
}

/* 글쓰기 입력영역 */
.cnt {
    border-top: 1px solid rgb(234, 238, 236);
}

textarea {
    padding: 20px 0px;
    border: none;
    width: 100%;
    height: 520px;
    font-family: SpoqaHanSans;
    font-weight: 400;
    font-size:10pt;
    outline: none;
    resize: none; 
}

/* 이미지업로드 */
.photo-container {
    padding: 20px 0px 20px 20px;
    background: rgb(255, 255, 255);
}

.photo-box {
    margin-top: auto;
}

.photo-upload {
    display: flex;

}
.photo {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid rgb(212, 217, 214);
    border-radius: 8px;
}

.photo span {
    font-size: 17pt;
}

.photo div {
    font-size:10.5pt;
    color:#555;
    margin-top:5px;
}

/* 하단 버튼 */
.write-submit {
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 20px;
    background: rgb(234, 238, 236);
    color: rgb(133, 138, 136);
    font-weight: 700;
    font-size: 13pt;
    border: none;
    cursor: pointer;
}




