/*
    @ Filename : style.css
    @ Author : 문태호
    @ Description : 기본 css 적용사항
*/

/* 기본 가로사이즈 설정 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url("reset.css");
* {
  box-sizing: border-box;
}

html body {
  background-color: rgb(231, 240, 234);
  max-width: 530px;
  margin: auto;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
  -webkit-font-smoothing: antialiased;
}

body > div,
body > section {
  background-color: #fff;
}

button {
  cursor: pointer;
}

/* 글라이드 전역설정 */
.glide .glide__bullet {
  width: 6px;
  height: 6px;
}

.glide__arrows .glide__arrow {
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 11px 14px;
}

/* 네비게이션 바 */
#nav {
  max-width: 530px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1000;
}

#nav .nav_btn {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

#nav .nav_btn i {
  font-size: 21px;
  margin-bottom: 10px;
}
